<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoSolar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".views.Event_Page"
            android:exported="false" />
        <activity
            android:name=".views.Floor_Plan_Availabibity"
            android:exported="false" />
        <activity
            android:name=".views.Entry_Auto_LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.Change_Apperance"
            android:exported="false" />
        <activity
            android:name=".views.Change_Password"
            android:exported="false" />
        <activity
            android:name=".views.Change_Name"
            android:exported="false" />
        <activity
            android:name=".views.Settings_Page"
            android:exported="false" />
        <activity
            android:name=".views.MainPage.Company_Plan_Selelector_Fragment"
            android:exported="false" />
        <activity
            android:name=".views.Subscription_Info"
            android:exported="false" />
        <activity
            android:name=".views.MainPage.Usr_Subscriptions"
            android:exported="false" />
        <activity
            android:name=".views.SignUp.Signup_User"
            android:exported="false" />
        <activity
            android:name=".views.Plan_Subscript"
            android:exported="false" />
        <activity
            android:name=".views.Space_Info"
            android:exported="false" />
        <activity
            android:name=".views.Event_RSVP"
            android:exported="false" />
        <activity
            android:name=".views.Email_Recovery"
            android:exported="false" />
        <activity
            android:name=".views.MainPage.Cowork_Id"
            android:exported="false" />
        <activity
            android:name=".views.LogIn"
            android:exported="false"/>
        <activity
            android:name=".views.MainPage.MainPage"
            android:exported="false" />
        <activity
            android:name=".views.MainPage.Profile"
            android:exported="false" />
    </application>

</manifest>